/*http://localhost/cms/public/inq_module/exports/ahli_home*/
*{display: none;}
body {
    font-family: 'Helvetica Neue W23 for SKY Reg';
    background-color: #364150;
    direction: rtl;
    font-size: 50pt;
    display: none;
}
.statistics-titles {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    color: #fff !important;
    border: #C9C9C9 1px solid;
}

.bg-grey {
    background: #E5E5E5 !important;
}
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.dropdown-menu{float:right}
.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:right}.col-sm-1{width:8.33333%}.col-sm-2{width:16.66667%}.col-sm-3{width:25%}.col-sm-4{width:33.33333%}.col-sm-5{width:41.66667%}.col-sm-6{width:50%}.col-sm-7{width:58.33333%}.col-sm-8{width:66.66667%}.col-sm-9{width:75%}.col-sm-10{width:83.33333%}.col-sm-11{width:91.66667%}.col-sm-12{width:100%
.dataTables_filter, .dataTables_length, .dataTables_info, .dataTables_paginate{display:none;}
.hide-print{display:none;}
.show-print{display:block;}
.table-scrollable {
      overflow-x: visible;
  }
